.item{
    margin-top:3%;
    margin-left: 1%;
    list-style-type: none;
    
    
}
.titled{
    float: left;
    font-size: 22px;
}
.todo-icon{
    margin-left:70%;
   

}
.done {
    text-decoration: line-through;
    float: left;
}
