.item{
    margin-top:3%;
    margin-left: 3%;
    list-style-type: none;
    flex: 1;
    min-width: 0;
    
}
.titled{
    float: left;
    font-size: 22px;
    overflow: hidden;
    white-space:  nowrap;
    text-overflow: ellipsis;
    width: 70%;
}
.todo-icon{
    margin-left:74%;
   

}
.done {
    text-decoration: line-through;
    float: left;
    color: #D8D8D8;
    overflow: hidden;
    white-space:  nowrap;
    text-overflow: ellipsis;
    width: 70%;
   
}
